/* Define custom color variables */
:root {
    --color-blue: #83af9b;
    --color-green: #c8c8a9;
    --color-brown: #774f38;
    --color-beige: #ece5ce;
    --color-yellow: #f9cdad;
    --color-pink: #fe4365;
    --color-orange: #FF4900;
    --color-darker-orange: #D13200;
    --color-white: #fff;
    /* Progress Bar Color according to the percentage */
    --color-low: #FF7004; /* Color for low progress */
    --color-medium: #FF4900; /* Color for medium progress */
    --color-high: #FF9809; /* Color for high progress */
    --color-very-high: #FFBF0D; /* Color for very high progress */
    --color-background: #707070; /* Background color for progress bars */
}

/* Apply font family to all elements */
* {
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
    background-color: #131720; /* Dark background color */
}

/* Style for inner sections */
.inner-section {
    display: flex;
    padding: 80px;
    justify-content: center;
    width: 100%;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1450px; /* Fixed width container */
}

/* Column 1 width */
.column-1_minimize-width{
    width: 40%;
}

.column-1 {
    width: 50%;
}

/* Column 2 styles */
.column-2 {
    width: 50%;
}

.column-2_maximize-width {
    width: 60%;
}
/* Speech Bubble Styles */
.speech-bubble {
    width: 30%;
    margin-bottom: 50px;
}

.speech-bubble p {
    /* Animation for speech bubble text */
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 15px;
    color: var(--color-white); /* Text color */
    background-color: var(--color-orange); /* Background color */
    padding: 20px;
    border-radius: 11px;
    position: relative;
    box-shadow: 5px 5px var(--color-white); /* Shadow */
}

.speech-bubble p:after {
    /* Animation for the dot after the speech bubble */
    transform: translateY(0px);
    animation: float2 3s ease-in-out infinite;
    content: ".";
    font-weight: 400;
    -webkit-text-fill-color: var(--color-orange);
    text-shadow: 5px 5px var(--color-white);
    text-align: left;
    font-size: 55px;
    width: 40px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: var(--color-orange);
    position: absolute;
    display: block;
    bottom: -35px;
    left: 0;
    box-shadow: 5px 5px var(--color-white);
    z-index: -2;
}

/* Keyframes for speech bubble animation */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translateY(0px);
    }
    55% {
        transform: translateY(-15px);
    }
    60% {
        line-height: 20px;
    }
    100% {
        line-height: 30px;
        transform: translateY(0px);
    }
}

/* Column 1 header styles */
.column-1 h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    color: var(--color-white);
}

/* Column 1 paragraph styles */
.column-1 p {
    font-size: 22px;
    font-weight: 300;
    color: var(--color-white);
}

/* Styles for inner section buttons */
.inner-section__button {
    gap: 20px;
    display: flex;
}

/* General button styles */
.button {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 25%;
    background-color: var(--color-orange); /* Button background color */
    border: 2px solid var(--color-orange); /* Button border */
    font-size: 22px;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-white); /* Button text color */
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;
    box-shadow: inset 0 0 #131720; /* Button shadow */
}

/* Hover effect for buttons */
.button:hover {
    border-color: transparent;
    box-shadow: inset 0 150px #131720;
}

/* Border button styles */
.button--border {
    background-color: transparent;
    border-color: var(--color-white);
    color: var(--color-white);
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;
    box-shadow: inset 0 0 #131720;
}

/* Hover effect for border buttons */
.button--border:hover {
    border-color: transparent;
    box-shadow: inset 0 150px var(--color-orange);
}

/* Scroll down button styles */
.scroll-down__button {
    position: absolute;
    right: 50%; /* Center horizontally */
    bottom: 25%;
}

.scroll-down__button img {
    padding: 30px 15px;
    border-radius: 50px;
    border: 1px solid var(--color-orange);
    transition: border 0.2s ease-in-out, 
                color 0.2s ease-in-out, 
                box-shadow 0.2s ease-in-out;
    position: relative;
    box-shadow: inset 0 0 #131720;
    background-color: transparent;
}

/* Hover effect for scroll down button */
.scroll-down__button img:hover {
    padding: 30px 15px;
    box-shadow: inset 0 150px var(--color-orange);
    border: transparent;
}

.scroll-down__arrow-long:hover {
    fill: white;
    z-index: 5;
}

/* Column 2 image styles */
.own-picture {
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    display: block;
}

/*Second Section*/

.about-me {
  width: 80%;
  object-fit: contain;
  margin-right: auto;
  display: block;
  filter: grayscale(100%);
  border-radius: 20px;
}


/* Progress container styles */
.progress-container {
    margin-bottom: 20px;
}

.progress-container h1 {
    display: block;
    width: 60%;
    font-size: 40px;
    line-height: 55px;
    font-weight: medium;
    color: var(--color-white);
    margin-bottom: 30px;
}

.progress-container p {
    color: var(--color-white);
    font-size: 18px;
    font-weight: light;
    line-height: 35px;
    margin-bottom: 30px;
}

/* Progress bar styles */
.progress-bar {
    height: 7px;
    background-color: var(--color-background);
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    margin: 30px 0;
}

.progress-bar-inner {
    height: 100%;
    border-radius: 5px;
    width: 0;
    animation: progressBarAnimation 2s ease-in-out forwards;
}

/* Progress bar color styles based on data attribute */
.progress-bar-inner[data-color="low"] {
    background-color: var(--color-low);
}

.progress-bar-inner[data-color="medium"] {
    background-color: var(--color-medium);
}

.progress-bar-inner[data-color="high"] {
    background-color: var(--color-high);
}

.progress-bar-inner[data-color="very-high"] {
    background-color: var(--color-very-high);
}

/* Progress percentage styles */
.progress-percentage {
    font-size: 18px;
    font-weight: light;
    margin-bottom: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--color-white);
    opacity: 0;
    animation: percentageAnimation 2s ease-in-out forwards;
}

/* Keyframes for progress bar animation */
@keyframes progressBarAnimation {
    from {
        width: 0;
    }
    to {
        width: calc(var(--percentage) * 1%);
    }
}

/* Keyframes for progress percentage animation */
@keyframes percentageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
